.grados-contenedor {
    width: 100%;
    max-width: 600px;
    margin-top: 90px ;
    padding: 20px;
    justify-self: center;
    border-radius: 8px;
    
    color: rgba(3, 3, 3, 0.469);
}

.nivel-item {
    display: flex;
    justify-self: center;
    justify-content: center;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #537D5D;
     width: 230px;
    border-radius: 50px;
    font-size: 16px;
    color: #f0eeee;
    transition: background-color 0.3s, transform 0.2s;
}

.nivel-item:hover {
    background-color: #537D5D;;
    transform: scale(1.02);
    border-color: #537D5D;;
}

.grados-contenedor p {
    font-size: 14px;
    color: #537D5D;;
    text-align: center;
}
.usuario-header {
    display: flex;
    align-items: center;
    
    top: 10px;
    left: 10px;
    margin-bottom: 100px;
    justify-content: space-between;
    width: 350px;
}

.usuario-imagen {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

.usuario-nombre {
    font-size: 16px;
    font-weight: bold;
    color: #000; 
}