.grados-listado{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
    
}

.grado-item {
    width: 300px;
    padding: 15px;
    margin: 10px;
    background-color: #537D5D;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;     /* Apila elementos verticalmente */
    justify-content: center;    /* Centra verticalmente */
    align-items: center;        /* Centra horizontalmente */
    color: white;
    text-align: center;         /* Centra el texto dentro del span o p */
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}